# One day for image files
<FilesMatch ".(jpg|jpeg|png|gif|ico|webp)$">
    Header set Cache-Control "max-age=86400, public"
</FilesMatch>

# 4 hours for scripts
<FilesMatch ".(css|js)$">
    Header set Cache-Control "max-age=14400, public"
</FilesMatch>

# deny access to git folder
RedirectMatch 404 /\.git

# deny direct access
RedirectMatch 404 /cronjobs
RedirectMatch 404 /development
RedirectMatch 404 /include
RedirectMatch 404 /pages

# prefer compressing output with brotli
<IfModule mod_brotli.c>
	SetOutputFilter BROTLI_COMPRESS
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-brotli
</IfModule>

# if brotli is not available, then use gzip
<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
</IfModule>

