# One day for images, scripts and styles
<FilesMatch "\.(ico|webp|css|js)$">
    Header set Cache-Control "max-age=86400, public"
</FilesMatch>

# deny access to git folder
RedirectMatch 403 /\.git

# deny direct access
RedirectMatch 403 /config
RedirectMatch 403 /cronjobs
RedirectMatch 403 /development
RedirectMatch 403 /include
RedirectMatch 403 /install/sql
RedirectMatch 403 /pages
RedirectMatch 403 /pics/uploads
RedirectMatch 403 /tests

# prefer compressing output with brotli
<IfModule mod_brotli.c>
	SetOutputFilter BROTLI_COMPRESS
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|ico|webp)$ no-brotli
</IfModule>

# if brotli is not available, then use gzip
<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|ico|webp)$ no-gzip
</IfModule>

