div#ChefboxHead {
    text-align: center
}

div#ChefboxHead h1 {
    background-image: url(/pics/style/bg_chefbox_h1.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 35px;
    margin: -8px auto 0;
    padding: 4px 2px;
    width: 200px
}

div#ChefboxHead h3 {
    margin: 5px 5px 20px;
    text-decoration: underline
}

body#Chefbox table {
    margin: 10px;
    min-width: 400px
}

body#Chefbox tr.Kategorie1 td {
    color: #c00;
    font-weight: bold
}

body#Chefbox tr.Kategorie3 td {
    color: #00e;
    font-weight: bold
}

div#ChefboxFooter a {
    display: block;
    margin: 10px 15px
}

body#Chefbox tr.Kategorie2 td {
    font-weight: bold
}
