@media only screen and (max-width: 1100px) {
    body {
        margin: 10px;
    }

    div#Navigation {
        background-image: initial;
        width: initial;
    }

    div.NaviLink, div.NaviBlock span {
        display: block;
        margin-bottom: 10px;
    }

    div.NaviBlock {
        display: table-cell;
    }

    div.NaviBlock a {
        white-space: nowrap;
    }

    div.NaviBox {
        margin: 10px 20px;
        float: left;
    }

    img#Logo {
        display: none;
    }

    div#SeitenUeberschrift {
        background-position: right;
    }

    div#Inhalt {
        display: initial;
    }

    div.form {
        display: flow-root;
        width: fit-content;
    }

    div.Buero {
        white-space: initial;
    }

    div#Footer {
        width: initial;
    }

    div.Gebaeude div.Action,
    div.Produktion div.Action,
    div.Research div.Action {
        display: inline-block;
        float: initial;
        width: 300px
    }


    /* when user is not logged in */
    div#Navigation.offline div.NaviBox {
        text-align: center;
    }

    div#Navigation.offline div.NaviBox header {
        display: none;
    }

    div#Navigation.offline div.NaviBox div {
        display: inline-block;
        margin: 6px;
    }
}
