body {
    background-color: #afd087;
    background-image: url(/pics/style/bg_inhalt.png);
    font-family: 'DejaVu Sans', 'Arial', serif;
    margin: 0 10px 10px 0;
}

a {
    color: #be2a00;
    font-weight: bold;
    text-decoration: none
}

div#Navigation {
    background-image: url(/pics/style/bg_navi.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    padding: 4px 30px 10px 5px;
    vertical-align: top;
    width: 280px
}

div#Navigation img#Logo {
    margin-left: 30px
}

div.NaviBox {
    background-color: #98d057;
    border: solid 3px green;
    margin: 10px 0;
    padding: 3px
}

div.NaviBox header {
    border-bottom: solid 2px #006800;
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center
}

div.NaviBlock {
    margin: 10px 4px
}

div.NaviLink {
    cursor: pointer;
    padding-left: 12px
}

div.NaviLink:hover {
    background-color: #bddbbd
}

div#Inhalt {
    display: inline-block;
    margin-left: -5px;
    padding-right: 10px;
    width: min-content
}

div#SeitenUeberschrift {
    background-image: url(/pics/style/bg_ueberschrift.png);
    background-position: top right;
    background-repeat: no-repeat;
    display: block;
    height: 82px;
    margin-top: 8px;
    padding: 20px;
    width: fit-content
}

div#SeitenUeberschrift img {
    height: 64px;
    margin-right: 20px;
    width: 64px
}

div#SeitenUeberschrift img.help {
    float: inherit;
    height: initial;
    width: initial
}

div#SeitenUeberschrift span {
    display: inline;
    font-size: 120%;
    font-weight: bold;
    position: relative;
    top: -20px
}

div.Meldung {
    background-color: #dda;
    border: solid 1px #777;
    margin-bottom: 10px;
    min-height: 30px;
    padding: 6px
}

div.Meldung img {
    float: left;
    margin-right: 20px
}

div.Meldung a#close {
    cursor: pointer;
    float: right;
    margin-left: 20px;
}

div.Meldung span {
    display: block;
    margin-top: 6px
}

div.form {
    background-color: #bece6b;
    border: dotted 1px #444;
    display: inherit
}

div.form header {
    background-color: #9fcf68;
    border-bottom: solid 1px #c00;
    font-weight: bold;
    padding: 4px 8px
}

div.form div {
    border-bottom: solid 1px #999;
    padding: 5px
}

div.form label {
    display: inline-block;
    text-align: right;
    width: 150px
}

div.form input {
    margin-right: 8px
}

div.form img#captcha {
    margin: 0 60px
}

div.form input[type="submit"] {
    margin: 5px
}

div#Footer {
    border: dotted 2px #ffdc55;
    display: block;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    width: 800px
}

table#UserStatistik {
    width: 100%
}

table#UserStatistik td {
    font-size: 90%
}

div.Gebaeude,
div.Produktion,
div.Research {
    margin-bottom: 20px;
    width: 100%
}

div.Gebaeude img,
div.Produktion img,
div.Research img {
    float: left;
    margin: 4px 30px 4px 4px
}

div.Gebaeude div.Information,
div.Gebaeude div.Action,
div.Gebaeude div.Upgrade {
    border-bottom: initial;
    white-space: nowrap
}

div.Gebaeude div.Upgrade {
    display: inline-block;
    padding-left: 10px;
    width: 300px
}

div.Gebaeude div.Upgrade div,
div.Gebaeude div.Action div {
    border: none;
    padding: 0
}

div.Gebaeude div.Upgrade header {
    background: none;
    border: none
}

div.Gebaeude div.Action,
div.Produktion div.Action,
div.Research div.Action {
    display: inline-block;
    float: right;
    width: 300px
}

div.Research div.Action input {
    margin: 40px 80px
}

div.Gebaeude div.Beschreibung {
    min-height: 90px
}

div.Schnellanbau {
    display: block;
    margin-bottom: 20px;
    width: 400px
}

div.Schnellanbau label {
    text-align: right;
    width: fit-content
}

div.Schnellanbau div {
    border: none;
    margin: 0 10px
}

div.Produktion div,
div.Research div {
    border: none;
    padding: 0
}

div.Research div.Running {
    padding: 20px 0
}

div.Produktion div.ProduktionDaten,
div.Research div.ResearchDaten {
    display: inline-block;
    margin: 15px 0
}

div.Produktion div.Action {
    padding: 13px 0;
    text-align: center
}

div.Produktion div.Action label {
    text-align: inherit;
    width: auto
}

div.Buero table {
    display: inline-table;
    margin: 10px auto
}

div.Buero table.EinnahmenAusgaben tr.Separator td,
div.Buero table.PunktePlusMinus tr.Separator td {
    border-bottom: solid 1px #8b0000;
    border-top: solid 1px #8b0000;
    font-weight: bold
}

div.Buero table td {
    padding: 2px
}

div.Regel {
    margin-bottom: 10px
}

div.Regel p:first-of-type {
    font-size: 120%;
    font-weight: bold
}

tr.StorageEmpty td,
tr.StorageSellAll td {
    border-top: solid 1px #8b0000;
    font-style: italic;
    text-align: center
}

table.Liste {
    background-color: #bece6b;
    border: dotted 1px #444;
    border-spacing: 0;
    min-width: 500px
}

table.Liste th {
    background-color: #9fcf68;
    border-bottom: solid 1px #c00;
    text-align: left
}

table.Liste td,
table.Liste th {
    padding: 3px 8px
}

table.Liste tr:hover td {
    background-color: #d5dea7
}

tr.RateRed td {
    color: #d00
}

tr.RateYellow td {
    color: #e67400
}

tr.RateGreen td {
    color: #008200;
    font-weight: bold
}

body#BBCode,
body#Emoticons {
    padding: 15px
}

body#BBCode table.Liste,
body#Emoticons table.Liste {
    min-width: 400px
}

body#BBCode div,
body#Emoticons div {
    margin: 20px 5px;
    text-align: center
}

.countdown {
    white-space: pre
}

div.Einstellungen {
    display: block;
    margin: 20px 0;
    width: 500px
}

table.Changelog td {
    border-bottom: solid 1px #999;
    vertical-align: top
}

table.ServerStatistik,
table.Vertraege,
table.Nachrichten,
table.Mafia,
table.Rangliste {
    margin: 20px 0;
    min-width: initial
}

table.ServerStatistik td {
    border-bottom: solid 1px #999
}

table.Rangliste tr.highlight td {
    background-color: #ff7
}

table.Vertraege td:last-of-type a,
table.Nachrichten td:last-of-type a {
    margin: 0 10px
}

table.Nachrichten td:last-of-type {
    white-space: nowrap
}

div.NachrichtLesen {
    display: block;
    margin: 20px 0;
    width: 800px
}

div.NachrichtLesen blockquote {
    border-left: solid 3px green;
    margin: 16px;
    padding-left: 8px
}

img.profilePicture {
    max-height: 300px;
    max-width: 300px
}

div.Profil label {
    width: 200px
}

div#Hilfe header {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 20px
}

div#GroupNavigation {
    margin-bottom: 20px;
    text-align: center
}

div#GroupNavigation span {
    display: inline-block;
    padding: 4px 10px
}

div.Gruppe div.left {
    border-bottom: none;
    float: left;
    max-width: 600px;
    min-width: 300px;
    word-break: break-word
}

div.Gruppe div.left div {
    border-bottom: none
}

div.Gruppe div.right {
    border-bottom: none;
    float: right;
    max-width: 300px;
    min-width: 200px
}

div.Gruppe div.GroupImage {
    margin-bottom: 20px;
    text-align: center
}

div.Gruppe div.GroupImage img {
    max-height: 600px;
    max-width: 600px
}

div.GroupMessage {
    display: block;
    margin-bottom: 20px;
    width: max-content
}

div.GroupMessage textarea {
    margin: 8px
}

div.GroupLog {
    margin-bottom: 20px;
    width: 600px
}

div.GroupLog div span {
    display: block
}

div.GruppeKasse div:last-of-type {
    border-top: double 1px #000
}

div.GruppeKasse label {
    margin-right: 10px;
    width: max-content
}

div.GruppeKasse span {
    float: right
}

div.GroupSetting {
    display: block;
    margin-bottom: 20px;
    width: fit-content
}

table.ListeMitgliederRechte td:last-of-type a {
    display: block;
    margin-bottom: 8px
}

table.ListeMitgliederRechte td:last-of-type input[type="submit"] {
    margin: 8px 2px
}

table#UserStatistik tr td:last-of-type,
div.Buero table.EinnahmenAusgaben td:last-of-type,
div.Buero table.PunktePlusMinus td:last-of-type,
table.ServerStatistik tr td:last-of-type {
    text-align: right
}

div.form form div:last-of-type {
    text-align: center
}

div.Buero table.EinnahmenAusgaben tr:last-of-type td,
div.Buero table.PunktePlusMinus tr:last-of-type td,
table.Nachrichten tr.Ungelesen td,
div.GroupLog div span:first-of-type,
div.GroupSetting div.Warning {
    font-weight: bold
}

table.Changelog tr:hover td,
table.Changelog td:hover {
    background-color: initial
}

div.Pagination,
div.MarktplatzNeu,
div.Gruppe {
    margin-bottom: 20px
}

div.GroupMessage div:last-of-type a,
table.GroupOpenRequests td:last-of-type a {
    display: inline-block;
    margin: 2px 8px
}
