body {
    background-color: #afd087;
    background-image: url('/pics/style/bg_inhalt.png');
    margin: 0 10px 10px 0;
    font-family: 'DejaVu Sans', 'Arial', serif;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #be2a00;
    font-weight: bold;
}

div#Navigation {
    background-image: url('/pics/style/bg_navi.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 280px;
    vertical-align: top;
    padding: 4px 30px 10px 5px;
}

div#Navigation img#Logo {
    margin-left: 30px;
}

div.NaviBox {
    border: solid 3px green;
    padding: 3px;
    background-color: #98d057;
    margin: 10px 0;
}

div.NaviBox header {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: solid 2px #006800;

    text-align: center;
}

div.NaviBlock {
    margin: 10px 4px;
}

div.NaviLink {
    padding-left: 12px;
    cursor: pointer;
}

div.NaviLink:hover {
    background-color: #bddbbd;
}

table#UserStatistik {
    width: 100%;
}

table#UserStatistik td {
    font-size: 90%;
}

table#UserStatistik tr td:last-of-type {
    text-align: right;
}

div#Inhalt {
    display: inline-block;
    width: 900px;
    margin-left: -5px;
    white-space: initial;
    padding-right: 10px;
}

div#SeitenUeberschrift {
    background-image: url('/pics/style/bg_ueberschrift.png');
    background-repeat: no-repeat;
    height: 82px;
    margin-top: 8px;
    padding-top: 20px;
}

div#SeitenUeberschrift img {
    float: left;
    margin-right: 20px;
}

div#SeitenUeberschrift img.help {
    float: inherit;
}

div#SeitenUeberschrift span {
    display: block;
    padding: 25px 0;
    font-weight: bold;
    font-size: 120%;
}

div.Meldung {
    border: solid 1px #777777;
    background-color: #ddddaa;
    margin-top: 10px;
    padding: 6px;
    min-height: 30px;
}

div.Meldung img {
    float: left;
    margin-right: 20px;
}

div.Meldung a#close {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

div.Meldung span {
    display: block;
    margin-top: 6px;
}

div#Footer {
    display: block;
    width: 800px;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    border: dotted 2px #ffdc55;
}

div.Gebaeude,
div.Produktion,
div.Research {
    margin-bottom: 20px;
    width: 100%;
}

div.Gebaeude img,
div.Produktion img,
div.Research img {
    float: left;
    margin: 4px 30px 4px 4px;
}

div.Gebaeude div.Information,
div.Gebaeude div.Action,
div.Gebaeude div.Upgrade {
    border-bottom: none !important;
}

div.Gebaeude div.Upgrade {
    float: left;
    width: 300px;
    padding-left: 10px;
}

div.Gebaeude div.Upgrade div,
div.Gebaeude div.Action div {
    border: none;
    padding: 0;
}

div.Gebaeude div.Upgrade header {
    background: none;
    border: none;
}

div.Gebaeude div.Action,
div.Produktion div.Action,
div.Research div.Action {
    float: right;
    width: 300px;
}

div.Research div.Action input {
    margin: 40px 80px;
}

div.Research div.Running {
    padding: 20px 0 !important;
}

div.Gebaeude div.Beschreibung {
    min-height: 90px;
}

div.Schnellanbau {
    display: block;
    width: 400px;
    margin-bottom: 20px;
}

div.Schnellanbau label {
    width: auto !important;
    text-align: inherit;
}

div.Schnellanbau div {
    margin: 0 10px;
    border: none !important;
}

div.Produktion div,
div.Research div {
    padding: 0 !important;
    border: none !important;
}

div.Produktion div.ProduktionDaten,
div.Research div.ResearchDaten {
    display: inline-block;
    margin: 15px 0;
}

div.Produktion div.Action {
    padding: 13px 0 !important;
}

div.Produktion div.Action label {
    width: auto;
    text-align: inherit;
}

div.form {
    display: inherit;
    border: dotted 1px #444444;
    background-color: #bece6b;
}

div.form header {
    background-color: #9fcf68;
    border-bottom: solid 1px #cc0000;
    font-weight: bold;
    padding: 4px 8px;
}

div.form div {
    padding: 5px;
    border-bottom: solid 1px #999999;
}

div.form label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

div.form form div:last-of-type {
    text-align: center;
}

div.form input {
    margin-right: 8px;
}

div.form img#captcha {
    margin: 0 60px;
}

div.form input[type="submit"] {
    margin: 5px;
}

div.Buero {
    white-space: nowrap;
}

div.Buero table {
    display: inline-table;
    margin: 10px auto;
}

div.Buero table.EinnahmenAusgaben td:last-of-type,
div.Buero table.PunktePlusMinus td:last-of-type {
    text-align: right;
}

div.Buero table.EinnahmenAusgaben tr.Separator td,
div.Buero table.PunktePlusMinus tr.Separator td {
    border-top: solid 1px darkred;
    border-bottom: solid 1px darkred;
    font-weight: bold;
}

div.Buero table.EinnahmenAusgaben tr:last-of-type td,
div.Buero table.PunktePlusMinus tr:last-of-type td {
    font-weight: bold;
}

div.Buero table td {
    padding: 0 !important;
}

div.Regel {
    margin-bottom: 10px;
}

div.Regel p:first-of-type {
    font-weight: bold;
    font-size: 120%;
}

tr.StorageEmpty td,
tr.StorageSellAll td {
    font-style: italic;
    text-align: center;
    border-top: solid 1px darkred;
}

table.Liste {
    min-width: 500px;
    background-color: #bece6b;
    border: dotted 1px #444444;
    border-spacing: 0;
}

table.Liste th {
    background-color: #9fcf68;
    border-bottom: solid 1px #cc0000;
    text-align: left;
}

table.Liste td,
table.Liste th {
    padding: 3px 8px;
}

table.Liste tr:hover td {
    background-color: #d5dea7;
}

tr.RateRed td {
    color: #dd0000;
}

tr.RateYellow td {
    color: #e67400;
}

tr.RateGreen td {
    color: #008200;
    font-weight: bold;
}

div#ChefboxHead {
    text-align: center;
    margin: 0 !important;
}

div#ChefboxHead h1 {
    margin: -8px auto 0;
    width: 200px;
    height: 35px;
    background-image: url('/pics/style/bg_chefbox_h1.png');
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 4px 2px;
}

div#ChefboxHead h3 {
    margin: 5px 5px 20px;
    text-decoration: underline;
}

body#Chefbox table,
body#Chefbox div {
    min-width: 400px;
    margin: 10px;
}

body#BBCode,
body#Emoticons {
    padding: 15px;
}

body#BBCode table.Liste,
body#Emoticons table.Liste {
    min-width: 400px;
}

body#BBCode div,
body#Emoticons div {
    text-align: center;
    margin: 20px 5px;
}

body#Chefbox tr.Kategorie1 td {
    font-weight: bold;
    color: #cc0000;
}

body#Chefbox tr.Kategorie2 td {
    font-weight: bold;
}

body#Chefbox tr.Kategorie3 td {
    font-weight: bold;
    color: #0000ee;
}

body#Chefbox a {
    display: block;
}

.countdown {
    white-space: pre;
}

div.Bank label {
    width: 100px !important;
}

div.Einstellungen {
    display: block;
    width: 500px;
    margin: 20px 0;
}

table.Changelog td {
    vertical-align: top;
}

table.Changelog td:hover {
    background-color: initial !important;
}

table.Changelog tr td:last-of-type {
    border-bottom: solid 1px #999999;
}

table.ServerStatistik,
table.Vertraege,
table.Nachrichten,
table.Mafia {
    margin: 20px 0;
    min-width: initial;
}

table.ServerStatistik tr td {
    border-bottom: solid 1px #999999;
}

table.ServerStatistik tr td:last-of-type {
    text-align: right;
}

table.Rangliste {
    margin: 20px 0;
}

table.Rangliste tr.highlight td {
    background-color: #ffff77;
}

div.Pagination {
    margin-bottom: 20px;
}

table.Vertraege td:last-of-type a,
table.Nachrichten td:last-of-type a {
    margin: 0 10px;
}

table.Nachrichten td:last-of-type {
    white-space: nowrap;
}

table.Nachrichten tr.Ungelesen td {
    font-weight: bold;
}

div.NachrichtLesen {
    display: block;
    width: 800px;
    margin: 20px 0;
}

div.NachrichtLesen blockquote {
    border-left: solid 3px green;
    padding-left: 8px;
    margin: 16px;
}

img.profilePicture {
    max-width: 200px;
    max-height: 200px;
}

div.Profil label {
    width: 200px;
}

div.MarktplatzNeu {
    margin-bottom: 20px;
}

div#Hilfe header {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 20px;
}

div#GroupNavigation {
    margin-bottom: 20px;
}

div#GroupNavigation span {
    border-left: solid 1px black;
    padding: 2px 10px;
}


div#GroupNavigation span:first-of-type {
    border-left: none !important;
}

div.Gruppe {
    margin-bottom: 20px;
}

div.Gruppe div.left {
    float: left;
    border-bottom: none;
    min-width: 300px;
    max-width: 600px;
    word-break: break-word;
}

div.Gruppe div.left div {
    border-bottom: none;
}

div.Gruppe div.right {
    float: right;
    border-bottom: none;
    max-width: 300px;
    min-width: 200px;
}

div.Gruppe div.GroupImage {
    text-align: center;
    margin-bottom: 20px;
}

div.Gruppe div.GroupImage img {
    max-width: 600px;
    max-height: 600px;
}

div.GroupMessage {
    display: block;
    width: max-content;
    margin-bottom: 20px;
}

div.GroupMessage textarea {
    margin: 8px;
}

div.GroupMessage div:last-of-type a {
    display: inline-block;
    margin: 2px 8px;
}

div.GroupLog {
    width: 600px;
    margin-bottom: 20px;
}

div.GroupLog div span {
    display: block;
}

div.GroupLog div span:first-of-type {
    font-weight: bold;
}

div.GruppeKasse div:last-of-type {
    border-top: double 1px black;
}

div.GruppeKasse label {
    width: max-content;
    margin-right: 10px;
}

div.GruppeKasse span {
    float: right;
}

div.GroupSetting {
    margin-bottom: 20px;
    display: block;
    width: fit-content;
}

div.GroupSetting div.Warning {
    font-weight: bold;
}

table.ListeMitgliederRechte td:last-of-type a {
    display: block;
    margin-bottom: 8px;
}

table.ListeMitgliederRechte td:last-of-type input[type="submit"] {
    margin: 8px 2px;
}

table.GroupOpenRequests td:last-of-type a {
    display: inline-block;
    margin: 2px 8px;
}
